RewriteEngine On

RewriteRule ^AnaSayfa$  /NADproje/index.php [L,NC,R]

RewriteRule ^hakkimizda$ /NADproje/index.php?SK=1 [L,NC]
RewriteRule ^UyelikSozlesmesi$ /NADproje/index.php?SK=2 [L,NC]
RewriteRule ^SiteKullanimKosullari$ /NADproje/index.php?SK=3 [L,NC]
RewriteRule ^GizlilikSozlesmesi$ /NADproje/index.php?SK=4 [L,NC]
RewriteRule ^MesafeliSatisSozlesmesi$ /NADproje/index.php?SK=5 [L,NC]
RewriteRule ^TeslimatMetni$ /NADproje/index.php?SK=6 [L,NC]
RewriteRule ^IptalIadeDegisim$ /NADproje/index.php?SK=7 [L,NC]
RewriteRule ^BankaHesaplarimiz$ /NADproje/index.php?SK=8 [L,NC]
RewriteRule ^havalebildirimformu$ /NADproje/index.php?SK=9 [L,NC]
RewriteRule ^hbff$ /NADproje/index.php?SK=10 [L,NC]
RewriteRule ^hbffBasarili$ /NADproje/index.php?SK=11 [L,NC]
RewriteRule ^hbffBasarisiz$ /NADproje/index.php?SK=12 [L,NC]
RewriteRule ^hbffEksikVeri$ /NADproje/index.php?SK=13 [L,NC]
RewriteRule ^KargomNerede$ /NADproje/index.php?SK=14 [L,NC]
RewriteRule ^index.php?SK=15$ /NADproje/index.php [L,NC]
RewriteRule ^Iletisim$ /NADproje/index.php?SK=16 [L,NC]
RewriteRule ^IletisimF$ /NADproje/index.php?SK=17 [L,NC]
RewriteRule ^IletisimFBasarili$ /NADproje/index.php?SK=18 [L,NC]
RewriteRule ^IletisimFBasarisiz$ /NADproje/index.php?SK=19 [L,NC]
RewriteRule ^IletisimFEksikVeri$ /NADproje/index.php?SK=20 [L,NC]

RewriteRule ^index.php?SK=21$ /NADproje/index.php [L,NC]
RewriteRule ^index.php?SK=22$ /NADproje/index.php [L,NC]

RewriteRule ^sss$ /NADproje/index.php?SK=23 [L,NC]
RewriteRule ^YeniUyeOl$ /NADproje/index.php?SK=24 [L,NC]
RewriteRule ^YeniUyeOlF$ /NADproje/index.php?SK=25 [L,NC]
RewriteRule ^YeniUyeOlFBasarisiz$ /NADproje/index.php?SK=26 [L,NC]
RewriteRule ^YeniUyeOlFEksikVeri$ /NADproje/index.php?SK=27 [L,NC]
RewriteRule ^ZatenKayitli$ /NADproje/index.php?SK=28 [L,NC]
RewriteRule ^YeniUyeOlFBasarili$ /NADproje/index.php?SK=29 [L,NC]
RewriteRule ^AktiveEt/AktivasyonKodu=(.*)/Email=(.*)$ /NADproje/index.php?SK=30&AktivasyonKodu=$1&Email=$2 [L,NC]
RewriteRule ^Giris$ /NADproje/index.php?SK=31 [L,NC]
RewriteRule ^GirisF$ /NADproje/index.php?SK=32 [L,NC]
RewriteRule ^GirisFBasarisiz$ /NADproje/index.php?SK=33 [L,NC]
RewriteRule ^UyeBilgileriYanlis$ /NADproje/index.php?SK=34 [L,NC]
RewriteRule ^UyeBilgileriEksik$ /NADproje/index.php?SK=35 [L,NC]
RewriteRule ^AktivasyonGerekli$ /NADproje/index.php?SK=36 [L,NC]
RewriteRule ^SifremiUnuttum$ /NADproje/index.php?SK=37 [L,NC]
RewriteRule ^SifremiUnuttumF$ /NADproje/index.php?SK=38 [L,NC]
RewriteRule ^SifremiUnuttumBasarili$ /NADproje/index.php?SK=39 [L,NC]
RewriteRule ^SifremiUnuttumBasasrisiz$ /NADproje/index.php?SK=40 [L,NC]
RewriteRule ^SifremiUnuttumUyeBilgileriHatali$ /NADproje/index.php?SK=41 [L,NC]
RewriteRule ^SifremiUnuttumUyeBilgileriEksik$ /NADproje/index.php?SK=42 [L,NC]
RewriteRule ^YeniSifreOlustur/(.*)/Email=(.*)$ /NADproje/index.php?SK=43&AktivasyonKodu=$1&Email=$2 [L,NC]
RewriteRule ^YeniSifreOlusturF$ /NADproje/index.php?SK=44 [L,NC]
RewriteRule ^YeniSifreOlusturFBasarili$ /NADproje/index.php?SK=45 [L,NC]
RewriteRule ^YeniSifreOlusturFBasarisiz$ /NADproje/index.php?SK=46 [L,NC]
RewriteRule ^YeniSifreOlusturFUyusmazlik$ /NADproje/index.php?SK=47 [L,NC]
RewriteRule ^YeniSifreOlusturFEksikVeri$ /NADproje/index.php?SK=48 [L,NC]
RewriteRule ^cikis$ /NADproje/index.php?SK=49 [L,NC]
RewriteRule ^Hesabim$ /NADproje/index.php?SK=50 [L,NC]
RewriteRule ^UyelikBilgileriGuncelle$ /NADproje/index.php?SK=51 [L,NC]
RewriteRule ^UyelikBilgileriGuncelleF$ /NADproje/index.php?SK=52 [L,NC]
RewriteRule ^UyelikBilgileriGuncelleFUyusmayanSifre$ /NADproje/index.php?SK=53 [L,NC]
RewriteRule ^UyelikBilgileriGuncelleFEksikBilgi$ /NADproje/index.php?SK=54 [L,NC]
RewriteRule ^UyelikBilgileriGuncelleFZatenVar$ /NADproje/index.php?SK=55 [L,NC]
RewriteRule ^UyelikBilgileriGuncelleFBasarili$ /NADproje/index.php?SK=56 [L,NC]
RewriteRule ^UyelikBilgileriGuncelleFBasarisiz$ /NADproje/index.php?SK=57 [L,NC]
RewriteRule ^Adreslerim$ /NADproje/index.php?SK=58 [L,NC]
RewriteRule ^Favorilerim/(.*)$ /NADproje/index.php?SK=59&SYF=$1 [L,NC]
RewriteRule ^Yorumlarim/(.*)$ /NADproje/index.php?SK=60&SYF=$1 [L,NC]
RewriteRule ^Siparislerim/(.*)$ /NADproje/index.php?SK=61&SYF=$1 [L,NC]
RewriteRule ^AdresSil/(.*)$ /NADproje/index.php?SK=62&AdresID=$1 [L,NC,R]
RewriteRule ^AdresSilBasarisiz$ /NADproje/index.php?SK=63 [L,NC]
RewriteRule ^AdresGuncelle/(.*)$ /NADproje/index.php?SK=64&AdresID=$1 [L,NC]
RewriteRule ^AdresGuncelleF$ /NADproje/index.php?SK=65 [L,NC]
RewriteRule ^AdresGuncelleFBasarisiz$ /NADproje/index.php?SK=66 [L,NC]
RewriteRule ^AdresGuncelleFEksikVeri$ /NADproje/index.php?SK=67 [L,NC]
RewriteRule ^AdresEkle$ /NADproje/index.php?SK=68 [L,NC]
RewriteRule ^AdresEkleF$ /NADproje/index.php?SK=69 [L,NC]
RewriteRule ^AdresEkleFBasarisiz$ /NADproje/index.php?SK=70 [L,NC]
RewriteRule ^AdresEkleFEksikVeri$ /NADproje/index.php?SK=71 [L,NC]
RewriteRule ^SipariseYorumYap/(.*)/(.*)/(.*)$ /NADproje/index.php?SK=72&TA=$2&UID=$3 [L,NC]
RewriteRule ^SipariseYorumYapF$ /NADproje/index.php?SK=73 [L,NC]
RewriteRule ^SipariseYorumYapFBasarili$ /NADproje/index.php?SK=74 [L,NC]
RewriteRule ^SipariseYorumYapFBasarisiz$ /NADproje/index.php?SK=75 [L,NC]
RewriteRule ^SipariseYorumYapFEksikVeri$ /NADproje/index.php?SK=76 [L,NC]
RewriteRule ^FavoriSil/(.*)/(.*)$ /NADproje/index.php?SK=77&FavID=$1&FavUrunTablo=$2 [L,NC,R]
RewriteRule ^FavoriSilBasarisiz$ /NADproje/index.php?SK=78 [L,NC]

RewriteRule ^Araclar/(.*)/(.*)$ /NADproje/index.php?SK=79&SYF=$1&MenuID=$2 [L,NC]
RewriteRule ^Evler/(.*)/(.*)$ /NADproje/index.php?SK=80&SYF=$1&MenuID=$2 [L,NC]
RewriteRule ^TeknolojiUrunleri/(.*)/(.*)$ /NADproje/index.php?SK=81&SYF=$1&MenuID=$2 [L,NC]
RewriteRule ^Kiyafet/(.*)/(.*)$ /NADproje/index.php?SK=82&SYF=$1&MenuID=$2 [L,NC]

RewriteRule ^GecmisUrunDetaylari/(.*)/(.*)$ /NADproje/index.php?SK=83&TA=$1&UID=$2 [L,NC]

RewriteRule ^UrunDetaylari/(.*)/(.*)/(.*)$ /NADproje/index.php?SK=83&TA=$2&UID=$3 [L,NC]

RewriteRule ^FavorilerimeEkle/(.*)/(.*)$ /NADproje/index.php?SK=84&TA=$1&UID=$2 [L,NC,R]
RewriteRule ^FavorilereEkleBasarisiz$ /NADproje/index.php?SK=85 [L,NC]
RewriteRule ^ZatenFavorim$ /NADproje/index.php?SK=86 [L,NC]
RewriteRule ^FavorilereEkleBasarili$ /NADproje/index.php?SK=87 [L,NC]
RewriteRule ^SepeteEkle$ /NADproje/index.php?SK=88 [L,NC]
RewriteRule ^SepeteEklemeBasarisiz$ /NADproje/index.php?SK=89 [L,NC]
RewriteRule ^UyeGirisiGerekli$ /NADproje/index.php?SK=90 [L,NC]
RewriteRule ^UrunStoktaYok$ /NADproje/index.php?SK=91 [L,NC]
RewriteRule ^Sepetim$ /NADproje/index.php?SK=92 [L,NC]
RewriteRule ^SepetimdenKaldir/(.*)/(.*)/(.*)$ /NADproje/index.php?SK=93&TA=$1&UID=$2&SN=$3 [L,NC,R]
RewriteRule ^Arti/(.*)/(.*)/(.*)$ /NADproje/index.php?SK=94&TA=$1&UID=$2&SN=$3 [L,NC,R]
RewriteRule ^Eksi/(.*)/(.*)/(.*)$ /NADproje/index.php?SK=95&TA=$1&UID=$2&SN=$3 [L,NC,R]
RewriteRule ^AdresVeKargoSecimi$ /NADproje/index.php?SK=96 [L,NC]
RewriteRule ^OdemeSecimineIlerle$ /NADproje/index.php?SK=97 [L,NC]
RewriteRule ^OdemeSecimiF$ /NADproje/index.php?SK=98 [L,NC]
RewriteRule ^HavaleTalebiBasarisiz$ /NADproje/index.php?SK=99 [L,NC]
RewriteRule ^HavaleTalebiAlindi$ /NADproje/index.php?SK=100 [L,NC]
RewriteRule ^KrediKartiBilgiler$ /NADproje/index.php?SK=101 [L,NC]
RewriteRule ^AlisverisSepetiKrediKartiOdemeSonuc$ /NADproje/index.php?SK=102/AlisverisSepetiKrediKartiOdemeSonuc [L,NC]
RewriteRule ^KrediKartiFBasarili$ /NADproje/index.php?SK=103 [L,NC]
RewriteRule ^KrediKartiFBasarisiz$ /NADproje/index.php?SK=104 [L,NC]
RewriteRule ^Urunlerim/(.*)$ /NADproje/index.php?SK=105&SYF=$1 [L,NC]
RewriteRule ^UrunEkle/(.*)$ /NADproje/index.php?SK=106&TA=$1 [L,NC]
RewriteRule ^UrunEkleF$ /NADproje/index.php?SK=107 [L,NC]
RewriteRule ^UrunEkleBasarisiz/(.*)$ /NADproje/index.php?SK=108&eror=$1 [L,NC]
RewriteRule ^UrunEkleBasarili$ /NADproje/index.php?SK=109 [L,NC]
RewriteRule ^UrunGuncelle/(.*)/(.*)$ /NADproje/index.php?SK=110&UrunID=$1&TA=$2 [L,NC]
RewriteRule ^UrunGuncelleF$ /NADproje/index.php?SK=111 [L,NC]
RewriteRule ^UrunGuncelleBasarisiz/(.*)$ /NADproje/index.php?SK=112&eror=$1 [L,NC]
RewriteRule ^UrunuKaldirF/(.*)/(.*)$ /NADproje/index.php?SK=113&UrunID=$1&TA=$2 [L,NC,R]
RewriteRule ^UrunuKaldirHata/(.*)$ /NADproje/index.php?SK=114&eror=$1 [L,NC]
RewriteRule ^UrunAktiveEt/(.*)/(.*)$ /NADproje/index.php?SK=115&UrunID=$1&TA=$2 [L,NC,R] 